* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Unbounded", cursive;
}

body {
  height: 100vh;
  background-color: #e1b887;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

header {
  width: 70%;
  max-width: 1000px;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #df6e63;
  box-shadow: 0 0.5rem #252b35;
  border-radius: 4rem;
}

h1 {
  font-size: 3.5rem;
  color: #ddd;
}

main {
  flex: 1;
  width: 80%;
  background-color: #252b35;

  display: flex;
}

main > * {
  flex: 1;
}

.buttons {
  background-color: aqua;
  min-width: 5rem;
  max-width: 7rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button {
  width: 90%;
  aspect-ratio: 1/1;

  background-color: #ddd;
  box-shadow: 0 0.5rem #252b35;
  border-radius: 10px;
}

.canvas-and-slider {
  background-color: aquamarine;
  min-width: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

h2 {
  font-size: 3rem;
  color: #252b35;
}

.canvas {
  width: 80%;
  max-width: 400px;
  aspect-ratio: 1/1;
  background-color: #ddd;
  box-shadow: 0 0.5rem #252b35;
  border-radius: 1rem;
}

.slider {
  width: 80%;
  max-width: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.slider-value {
  color: #252b35;
  font-size: 1.3rem;
}

#canvas-size {
  width: 70%;
  height: 1rem;
  background-color: #e1a192;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem #252b35;
  overflow: hidden;

  -webkit-appearance: none;
}

#canvas-size::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #d94436;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #df6e63;

  -webkit-appearance: none;
}

.lines {
  background-color: aqua;
  min-width: 16rem;
}

.empty {
  min-height: 8rem;
  width: 100%;
  padding: 0 4rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.circles {
  width: 12rem;
  aspect-ratio: 1/1;
  background-color: #252b35;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.github-link {
  display: inline-block;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: #df6e63;
  box-shadow: 0 0.5rem #252b35;

  background-image: url("./images/github-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
}
