* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Unbounded", cursive;
}

body {
  height: 100vh;
  background-color: #e1b887;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

header,
.empty {
  min-height: 4rem;
  height: 6rem;
  background-color: red;
}

header {
  width: 70%;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #df6e63;
  border-radius: 4rem;
  box-shadow: 0 0.5rem #252b35;
}

h1 {
  font-size: 4rem;
  color: #ddd;
}

main {
  flex: 1;
  width: 80%;
  background-color: #252b35;

  display: flex;
}

.empty {
  width: 100%;
  padding: 1rem 0;
}
